html(lang='en')
  head
    title UpdatePage
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body
  h1(class = 'display-8 m-2') Change the name of your HERO from list:
     div    
      form(action='/update/'+ id method='POST')
        input( class = 'm-2' )(type='text' name='name' value= row[0].name) 
